#home {
    height: auto;
}

#home .text {
    margin: 0 2em;
    width: 50%;
    align-self: baseline;
    padding-bottom: 2em;
}

#home h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 62px;
    color: #f6e5f7;
}

#home .landing {
    /* margin-right: 2em; */
    width: 280px;
    height: 100%;
}

#home p {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}


#home .brands {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.brands img {
    width: 80px;
    height: 50px;
}

/* wavy background */
#home section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
    /* background: #3c31dd; */
}

#home .curve {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

#home .curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: white;
}

#home .curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    /* background: linear-gradient(139.52deg, #6251C3 -73.08%, #A800AB 150.16%); */
    background: var(--background);
    transform: translate(-4%, 40%);
    z-index: -1;
}

#home .home-content {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 900px) {
    #home {
        height: auto;
    }
    
}

@media (max-width: 700px) {
    #home .landing {
        position: absolute;
        right: 0;
        top: 0;
    }

    #home h1 {
        font-size: 29px;
        line-height: 32px;
    }

    #home p {
        font-size: 12px;
        line-height: 21px;
        width: 90%;
    }
    #home section {
            padding-top: 40px;
        }
}

@media (max-width: 460px) {
    #home .text {
        margin-left: 0.5em;
    }

    #home .landing {
        width: 220px;
    }

    #home .curve {
        height: 200px;
    }
}

@media (max-width: 400px) {
    #home .home-content {
        flex-direction: column;
    }

    #home .text {
        width: 100%;
    }

    #home .landing {
        position: relative;
        width: 100%;
        
    }

    #home .curve {
        height: 150px;
    }
}

@media (min-width: 1600px) {

    #home .landing {
        width: 20vw;
    }

    #home h1 {
        font-size: 4vw;
        line-height: 4vw;
    }

    #home p {
        font-size: 1.2vw;
        line-height: 1.6vw;
        margin: 1vw 0;
    }
    
}