
.nav__bar {
  /* background: linear-gradient(139.52deg,#6251C3 -73.08%,#A800AB 150.16%); */
  background-color: transparent;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  height: 80px;
  padding: 0 2rem;
}




.offcanvas-body button {
  background: linear-gradient(139.52deg,#6251C3 -73.08%,#A800AB 150.16%);
  border-radius: 5px;
  color: white !important;
  border: none;
  margin: 1.5em 2em;

}

.nav__bar .link, a#offcanvasNavbarDropdown-expand-md, .nav__bar .link:hover, .nav__bar .link:focus, .nav__bar .link:active {
  color: #EEEEEE;
  font-size: 0.8em;
  font-weight: 700;
  transition: color 0.5s linear, text-decoration 0.5s linear;
}

.navbar>.container-fluid {
  height: 80px !important;
}
/* offcanvas styles */
.offcanvas {
  background-color: #fafafa;

}
.offcanvas-header {
  padding-left: 0;
}
.offcanvas-body {
  padding-left: 2em;
}
.offcanvas-header .btn-close {
  background-color: #fff;
}
.navbar-toggler-icon {
  background-color: #fff;
  border-radius: 5px;
}
/*Styling logo*/
.logo{
  text-align: center;
  display: inline-flex;
  margin-left: 0;
}

.canvas_logo{
  text-align: center;
  display: inline-flex;
  /* height: 8rem;
  width: 8rem; */
  margin: 0;
}


button.navbar-toggler.collapsed {
  padding: 0;
  width: 2.5em;
  margin: 0em !important;
  position: absolute;
  right: 10px;
  top: 30px;
  background-color: #fff;
}

.offcanvas-body button {
  background: linear-gradient(139.52deg,#6251C3 -73.08%,#A800AB 150.16%);
  border-radius: 5px;
  color: red;
  border: none;
  margin: 1.5em 2em;

}

@media (max-width: 760px) {
  .navbar>.container-fluid {
    margin-top: -1em;
  }
}
